# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
torch~=1.8.1+cu111
numpy~=1.20.2
opencv-python~=4.5.1.48
scikit-learn~=0.24.1
torchvision~=0.9.1+cu111
matplotlib~=3.3.4
pandas~=1.2.4
imgaug~=0.4.0
termcolor~=1.1.0
scipy~=1.6.2
torchsummary~=1.5.1
ignite~=0.4.4
tensorboardx~=2.2